@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.mode-light{
    width: 39px;
    height: 39px;
    margin-right: 20px;
}
.mode-light:hover{
    cursor: pointer;
}
.mode-dark{
    width: 39px;
    height: 39px;
    margin-right: 20px;
    fill: #FFFFFF;
}
.mode-dark:hover{
    cursor: pointer;
}
.socials{
    fill:#FFFFFF;
}
.socials-light{
    fill:#867E7E;
}
@media screen and (max-width:450px) {
    .mode-light,.mode-dark{
        width: 25px;
        height: 25px;
    }
    
}

